@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

a {
  display: inline;
  text-decoration: none;
}

img {
  width: 100%;
}

/* NAVIGATION */

nav {
  padding-top: 32px;
  display: flex;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}
.nav__logo--img {
  height: 40px;
  width: 40px;
}
.nav__row {
  display: flex;
  justify-content: space-between;
}
.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}
.nav__link {
  margin: 0 24px;
}
.nav__link {
  font-size: 14px;
  font-weight: 600;
  color: blue;
  padding-top: 4px;
  letter-spacing: 0.35px;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: all 300ms;
}
.nav__link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background: gold;
  transition: all 300ms ease;
  opacity: 0;
}
.nav__link:hover:after {
  opacity: 1;
}
.nav__link--primary {
  margin: 0;
  padding: 10px 32px;
  margin-top: 2px;
  border-radius: 9999px;
  color: black;
  background-color: gold;
  line-height: 1.5;
  border: none;
  width: auto;
  transition: all 300ms ease;
}
.nav__link--primary:after {
  content: "";
  width: 0;
  height: 0;
}
.nav__link--primary:hover {
  background-color: blue;
  color: black;
}